.Output {
  height: 100dvh;
  gap: 5dvh;
  .outputImgContainer {
    position: relative;
    width: 20vw;
    .frame {
      width: 100%;
      height: auto;
    }
    .capturedImage {
      width: 87%;
      height: 87%;
      position: absolute;
      top: 8%;
      left: 6%;
      z-index: -1;
    }
  }

  .footer {
    gap: 4dvh;
  }
}
